%h1 Film
%h1= @movie.title

.container
  .row
    .col-md-5
      %h3 Titre du film 1
      .player
        %video{:autobuffer => "", :controls => "", :height => "360", :src => "/home/mlt07/Bureau/test_videos/fish.mp4", :type => "video/mp4", :width => "640"}
          %a{:href => "/home/mlt07/Bureau/test_videos/fish.mp4"} télécharger la vidéo
        %hr
  .col-md-1
  .col-md-5
    %h3 Synopsis
    %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    .flag
    .genre
