%h1= @movie.title

= link_to "click here to download", controller: "movies", action: "download"
.player
  = video_tag "Reportage_France3.mp4", :autobuffer => true, :controls => true, :height => "360", :type => "video/mp4", :width => "640"

