.movie_container {
	width : 100%;
	display: flex;
	flex-direction : column;
	justfy-content: center;
	align-items: center;
	
}

.player_info {
	padding-top: 40px;
	width: 100%;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}


.column1 {
	margin-top: 7%;
	margin-left: 6%;
	width : 400px;
  height : 310px;
	display:flex;
	flex-direction:column;
	
}

.image_film {
	background-size: 120%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	margin:auto;
	-webkit-box-shadow: 2px 3px 5px 3px #5c5b5c;
  -moz-box-shadow: 2px 3px 5px 3px #5c5b5c;
  box-shadow: 2px 3px 5px 3px #5c5b5c;
}

.cinema {
	width:100%;
	margin:auto;
	-webkit-box-shadow: 2px 3px 5px 3px #5c5b5c;
  -moz-box-shadow: 2px 3px 5px 3px #5c5b5c;
  box-shadow: 2px 3px 5px 3px #5c5b5c;
}

 .watch {
 	width: 25%;
 	margin: auto;
 	margin-top: 5%;
  display: block;
  outline-style: none;	 
 }

.link_button1 {
	width: 16%;
	padding-left: 5%;

}

.column2 {
	width: 400px;
 	height: 300px;
  margin-left: 6%;
}

h3 {
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
	font-style: italic;
}

.text_film {
	width: 75%;
  height: 214px;
  margin-top: -3%;
	padding-left: 2%;
	background-color: black;
	color:white;
	-webkit-box-shadow: 2px 3px 5px 3px #5c5b5c;
  -moz-box-shadow: 2px 3px 5px 3px #5c5b5c;
  box-shadow: 2px 3px 5px 3px #5c5b5c;
}

.download {
	width: 40%;
	margin: auto;
	margin-top: 12%;
  margin-left: 20%;
  display: block;
  outline-style: none;   
}

.link_button2 {
	width: 16%;
	margin:auto;
}

a:focus
{
outline:0;
} 

h2 {
	width: 100%;
	/*margin-bottom: -40%;*/
	padding-left: 2%;
}

p {
	margin : 5px;
}